.strikethrough
{
	text-decoration: line-through;
}

.addsub
{
	min-width: 1.5em;
}

.small-btn
{
	font-size: 8px;
}

.footer
{
	font-size: 8px;
	position: absolute;
    bottom: 1em;
	width: calc(100% - 1.0rem);
}